body.blog{
  background-color:$light-gray;
}
.blog section.container, section.resources{
  position:relative;
  z-index:1;
  &:before, &:after{
    content:'';
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
    z-index:-1;
  }
  &:before{
    top:20px;
    left:20px;
    background-image:url(../images/top_left_colour_geo.svg);
    width:317px;
    height:313px;
  }
  &:after{
    bottom:20px;
    right:20px;
    background-image:url(../images/bottom_right_white_geo.svg);
    width:329px;
    height:317px;
  }
}
.page-resources, section.resources{
  h1{
    text-align:center;
    font-size:rem-calc(50);
    @include italic-header();
    margin:60px 0 0 0;
  }
  ul.filters{
    list-style:none;
    margin:35px 0;
    text-align:center;
    text-transform:uppercase;
    font-size:1rem;
    li{
      display:inline-block;
      padding:0 10px;
      &:not(:last-child){
        border-right:1px solid $medium-gray;
      }
      &.highlight{
        color:$orange;
      }
    }
  }
  section#articles{
    @include grid-row();
  }
  article{
    margin-bottom:20px;
    @include grid-column(12);
    @include breakpoint(medium){
      @include grid-column(6);
      margin-bottom:30px;
    }
    @include breakpoint(large){
      @include grid-column(3);
    }
    .wp-post-image{
      width:100%;
      height:auto;
    }
    div.content{
      padding: 0 20px 20px 20px;
    }
    h2{
      font-size:26px;
      margin: 0 0 15px 0;
    }
    p.article-details{
      display:inline-block;
      font-size:12px;
      margin:20px 0;
    }

    div.article-body{
      background-color:#a6a6a6;
      color:$white;
    }
    &.whitepapers div.article-body{
      background-color:$navy;
    }
    &.resources div.article-body{
      background-color:$white;
      color:$navy;
    }
    &.highlight div.article-body, &.events div.article-body{
      background-color:$orange;
    }
  }
  .pagination{
    display:none;
  }
}
.visible{
  transition:opacity 0.4s;
  opacity:1;
}
div.brick-more, section.resources a.button{
  display:block;
  padding:0 30px;
  line-height:45px;
  background-color:$navy;
  color:$white;
  text-align:center;
  margin:80px auto 20px auto;
  width:200px;
  clear:both;
  cursor:pointer;
  transition:background-color 0.2s;
  &.finished{
    cursor:default;
    background-color:$dark-gray;
  }
  &:hover{
    background-color:$orange;
  }
}
