/* Navigation breakpoints */
.menu-icon{
  float:right;
  margin-top:5px;
}
header#masthead{
  max-width:$global-width;
  margin:0 auto;
  z-index:10;
  position:relative;
}
.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
  #menu-main-menu{
    display:inline-block;
    vertical-align:top;
  }
  div.phone{
    &:before{
      content:"\25aa";
      display:inline-block;
      margin-right:0.7rem;
    }
  }
  .menu a, div.phone{
    height: 120px;
    line-height: 120px;
    color: $navy;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 20px ;
    vertical-align:middle;
    font-family:$header-font-family;
    &:hover:not(.button) {
      background-color: transparent;
    }
  }
  .social-menu i{
    color:#8d8c8a;
  }

  // .menu>li:not(.menu-text)>a { padding: 1rem; }
  // .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: $light-gray;
    color: $navy;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}
.menu .home a {
  font-size: 2rem !important;
  color: transparent;
  text-transform:uppercase;
  padding-left:0;
  background-image:url("../images/quantum.svg");
  background-position:center;
  width:210px;
  background-repeat:no-repeat;
}
/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
	content: "";
    	display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}
.menu-footer{
  clear:both;
  display:inline-block;
  #menu-footer-menu{
    display:inline-block;
    a{
      padding:0 1rem;
    }
    li:first-of-type a{
      padding-left:0;
    }
    .home a{
      display:none;
      background-image:url('../images/quantum_light.svg');
      color:transparent !important;
      @include breakpoint(medium){
        display:block;
      }
    }
  }
}
.social-menu{
  float:right;
  display:none;
  @include breakpoint(large){
    display:inline-block;
  }
  a{
    padding:0 8px !important;
  }
  i{
    font-size:16px;
    margin-top:-2px;
  }
}
div.phone{
  display:table-cell;
  vertical-align:top;
  @include breakpoint(large){
    padding-right:40px;
  }
}
.footer-links{
  clear:both;
  a{

    // line-height:70px !important;
    padding:0 1rem;
    @include breakpoint(medium){
      line-height:70px !important;
    }
  }

  div.phone{
    @include italic-header();
    font-weight:800;
    color:$orange;
    font-size:55px;
    text-align:right;
    line-height:70px;
  }
}
.menu .active a{
  background-color:transparent !important;
}
#mobile-menu{
  display:none;
  background-color:$white;
}
div.title-bar-title a{
  color:transparent;
  background-image:url(../images/quantum.svg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left center;
  height:40px;
  width:170px;
  display:block;
  margin-left:5px;
}
.vertical.menu{
  min-height:100vh;
}
.vertical.menu a{
  text-align:center;
  line-height:3.5;
  height:auto;
  font-size:30px;
}
.vertical.menu li:first-of-type{
  margin-top:35px;
}
